@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-3" style="color: #301934; font-weight: bold;">Welcome to Beauty Parlor Management</h1>
    <p class="lead">We will style while you smile! Trust us as beauty is our duty!</p>
    <img src="https://i.pinimg.com/736x/cf/b0/cf/cfb0cfd61d2416679feb369f4f7c9335.jpg" class="img-fluid mt-3 rounded shadow" alt="Beauty Salon" style="max-width: 25%;">
    <div class="mt-4">
        <a class="btn btn-lg btn-primary" asp-controller="Appointments" asp-action="Index">Book an Appointment</a>
        <a class="btn btn-lg btn-primary" asp-controller="AboutUs" asp-action="Index">Learn More: About Us</a>
        <a class="btn btn-lg btn-primary" asp-controller="Services" asp-action="Index">View Services</a>
    </div>
</div>